body {
  background: #8e9eab;
  background: linear-gradient(to left, #8e9eab , #eef2f3);
}

.beauty{
    background-color: dimgray
}
@keyframes wave {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.music-card {
  margin: 100px auto;
  background: #fff;
  box-shadow: 9px 7px 37px -6px rgba(0,0,0,0.75);
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 500px;
}

.image {
  background: url("beaty.jpeg") no-repeat 75%;
  background-size: cover;  
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  height: 300px;
  width: 300px;
}

.image:after {
  height: 100px;
  content: '';
  top: 200px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(221, 65, 127, 0), #444);
}

.wave {
  position: absolute;
  height: 750px;
  width: 750px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -70%;
  margin-top: -130%;
  border-radius: 40%;
  background: radial-gradient(#353535, #383737);
  animation: wave 3000ms infinite linear;
}

.wave:nth-child(2) {
  top: 10px;
  animation: wave 4000ms infinite linear;
}

.wave:nth-child(3) {
  top: 10px;
  animation: wave 5000ms infinite linear;
}

.info {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  font-size: 1.6em;
  font-weight: 400;
  color: #333;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: 'Reem Kufi', sans-serif;
}

.artist {
  color: #cfcfcf;
  font-size: 1em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: 'Reem Kufi', sans-serif;
}
.loader{transform:translate(-50%,-100%);-webkit-transform:translate(-50%,-100%);position:absolute;left:50%;top:50%;min-width:250px;}
.loader i{height:20px;width:20px;background:#E6A18A;display:inline-block;border-radius:150px;margin-right:5px;-webkit-animation:loading 3s infinite;animation:loading 3s infinite;box-shadow:0px 0px 15px orange;-webkit-transform:translate(0,50%);transform:translate(0,50%)}

.loader i:nth-child(1){animation-delay:-0.5s;-webkit-animation-delay:-0.5s}
.loader i:nth-child(2){animation-delay:-1s;-webkit-animation-delay:-1s}
.loader i:nth-child(3){animation-delay:-1.5s;-webkit-animation-delay:-1.5s}
.loader i:nth-child(4){animation-delay:-2s;-webkit-animation-delay:-2s}
.loader i:nth-child(5){animation-delay:-2.5s;-webkit-animation-delay:-2.5s}
.loader i:nth-child(6){animation-delay:-3s;-webkit-animation-delay:-3s}
.loader i:nth-child(7){animation-delay:-3.5s;-webkit-animation-delay:-3.5s}
.loader i:nth-child(8){animation-delay:-4s;-webkit-animation-delay:-4s}
.loader i:nth-child(9){animation-delay:-4.5s;-webkit-animation-delay:-4.5s}

@keyframes loading{50%{height:100px}}
@-webkit-keyframes loading{50%{height:100px}}